# Unity Project Backup
RenderingModule/Library_backup/

# Large Data Files
*.raw
*.raw.ini
DataTransformationModule/MyData/

# System Files
.DS_Store
RenderingModule/Assets/Scenes/mainScene.unity
RenderingModule/Assets/Scenes/mainScene 1.unity
